* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter;
  color: #2b283a;
  background: #E5E5E5;
}

.App {
  width: 100%;
  /* max-width:550px; */
  /* align-self:center; */
  /* justify-content:center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: #eeeeee;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.2), 4 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  display: flex;
  justify-content: center;
  background: #f55a5a;
  color: #ffffff;
  height: 55px;
  width: 100%;
  max-width: 550px;
  font-size: 11px;
  padding: 20px 40px;
}

.navbar p {
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px;
letter-spacing: 0.075em;
text-align: left;

}

.navbar--icon {
  align-self:center;
  margin-right: 10px;
}

.journal--page {
  padding: 24px 18px;
  width: 100%;
  color: #2b283a;
  background-color:#fff;
  max-width: 550px;
}

.journal {
  display: flex;
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eeeeee;
}

.journal--location {
  text-transform: uppercase;
  font-weight: bold;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 12px;
letter-spacing: 0.17em;
text-align: left;

}
.icon {
  font-size: 10px;
  color: #f55a5a;
  text-align: left;
}
.journal--location a {
  text-transform: none;
  color: #918e9b;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
margin-left:10px;
}

.journal--image {
  width: 100%;
  max-width: 125px;
  border-radius: 5px;
  margin-right: 15px;
}

.journal--details {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.journal--details h1 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1px 0 15px 0;
}
.journal--details h4 {
  margin-bottom: 5px;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.journal-text {
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 15px;
text-align: left;

}
